@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F7;
  --foreground: #171717;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

